<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Tech Blogger</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Luckiest+Guy">
</head>

<body>
    <header>
        <div>
           <h1>The Tech Blogger</h1> 
        </div>
        <div>
            <a href="/">HOME</a>
            <a href="/signup">SIGNUP</a>
            <a href="/login">LOGIN</a>
            <a href="/profile">PROFILE</a>
        </div>
    </header>
    <main>
    {{{body}}}
    </main>
    {{!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script> --}}
    <footer>
        <a href="https://github.com/dejesusf"><h3>♡ FELICODE ♡</h3></a>
    </footer>
</body>
</html>