<section>
  <form id="loginForm">
    <h2>LOGIN</h2>
    <input type="text" id="loginUser" placeholder="username">
    <input type="password" id="loginPassword" placeholder="password">
    <button>LOGIN</button>
  </form>
</section>

<script src="/js/login.js"></script>