<div>
  <h2>Hi, {{username}}!</h2>
</div>
<div>
  <h3>ADD A POST</h3>
<form id="new-post-form">
  <textarea id="title-input" placeholder="title"></textarea>
  <textarea id="post-input" placeholder="post"></textarea>
  <button>POST</button>
</form>
<h2>MY POSTS</h2>
{{#each Post}}
  <section class="post-box">
    <p>{{title}}</p>
    <p>{{post}}</p>
</section>
{{/each}}
</div>


<script src="/js/profile.js"></script>