<section>
    <form id="signupForm">
        <h2>SIGNUP</h2>
        <input type="text" id="signupEmail" placeholder="email">
        <input type="text" id="signupUsername" placeholder="username">
        <input type="password" id="signupPassword" placeholder="password">
        <button>SIGNUP</button>
    </form>
</section>

<script src="/js/signup.js"></script>