<h1>SIGNUP</h1>

<form id="signupForm">
    <input type="text" id="signupEmail" placeholder="email">
    <input type="text" id="signupUsername" placeholder="username">
    <input type="password" id="signupPassword" >
    <button>SIGNUP</button>
</form>

<script src="/js/signup.js"></script>